/* ===============
   audiobook-description
   =============== */
.audiobook-description .container {
  position: relative;
}
.audiobook-description .cover {
  width: 159px;
  height: 228px;
  border-radius: 7px;
  display: inline-block;
  object-fit: cover;
}
.audiobook-description .text {
  display: inline-block;
  position: absolute;
  top: -0;
  width: 240px;
  height: 230px;
  padding-left: 18px;
}
.audiobook-description .text .description textarea {
  color: #9a9da3;
  font-size: 10pt;
  width: 250px;
  height: 100px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.4s;
  resize: none;
  width: 220px;
}
.audiobook-description .text .description textarea.editable:hover {
  background-color: #292e34;
  border-radius: 4px;
}
.audiobook-description .text .title input {
  color: #c8cace;
  font-size: 12pt;
  font-weight: 800;
  text-align: left;
  margin-bottom: -2px;
  margin-top: 2px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
}
.audiobook-description .text .title input.editable:hover {
  background-color: #292e34;
  border-radius: 4px;
}
::placeholder::placeholder {
  color: #6b6e74;
}
.audiobook-description .text .author input {
  color: #c8cace;
  font-size: 11pt;
  text-align: left;
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.audiobook-description .text .author input.editable:hover {
  background-color: #292e34;

  border-radius: 4px;
}
/* ===============
   audiobook-tags
   =============== */
.audiobook-description .tag-list {
  margin-top: 10px;
}
.audiobook-description .tag-list .tag {
  color: #9a9da3;
  padding: 5px 10px;
  background-color: #292e34;
  width: fit-content;
  border-radius: 7px;
  font-size: 9pt;
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
  transition: color 0.5s;
}
.audiobook-description .tag-list .tag:hover {
  color: white;
}
.audiobook-description .tag-list .tag.lang {
  background-color: #4745ce;
}
.audiobook-description .update-button {
  background-color: #6664f6;
  color: #161c21;
  padding: 5px 10px;
  font-weight: 800;
  text-align: center;
  width: 50px;
  border-radius: 7px;
  font-weight: 600;
  position: relative;
  top: -5px;
  float: right;
  cursor: pointer;
  display: none;
}

.audiobook-description .update-button.visible {
  display: block;
}
