/* ===============
   audiobook-preview
   =============== */
.audiobook-preview {
  transform: scale(1);
  width: 122px;
  transition: all 0.4s;
  display: inline-block;
  margin-left: 37px;
  cursor: pointer;
  transition: all 0.6s;
}
.audiobook-preview.edit-enabled {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

.audiobook-preview:hover,
.audiobook-preview.selected {
  transform: scale(1.2);
  transform-origin: center;
  box-shadow: 0px 0px 20px 10px rgba(17, 21, 25, 0.5);
}
.audiobook-preview.edit-enabled:hover {
  transform: scale(1);
  transform-origin: center;
  box-shadow: none;
}
.audiobook-preview .container {
  width: 122px;
  height: 137px;
  background-color: #292e34;
  position: relative;
  border-radius: 7px;
}
.audiobook-preview img.cover {
  position: absolute;
  left: 20px;
  bottom: 50px;
  width: 80px;
  height: 110px;
  border-radius: 7px;
  object-fit: cover;
  background-color: #4d545b;
  border: none;
  outline: none;
}
.audiobook-preview .text {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 14px;
  height: 42px;
}
.audiobook-preview .text .title {
  color: #c8cace;
  font-size: 8pt;
  text-align: center;
  margin-bottom: -2px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.audiobook-preview .text .author {
  color: #6b6e74;
  font-size: 7.5pt;
  text-align: left;
  margin-left: 13px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 70%;
}
/* ===============
   remove-button
   =============== */
.audiobook-preview .remove-button {
  background-image: url('./assets/remove-button.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: -30px;
  display: none;
}
.audiobook-preview .remove-button.visible {
  display: block;
}
/* ===============
   shake-animation
   =============== */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) scale(1);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0) scale(1);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) scale(1);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0) scale(1);
  }
}
